In [1]:
from collections import namedtuple

Subscriber = namedtuple('Subscriber', ['addr','joined'])
sub = Subscriber('jonesy@example.com', '2012-10-19')
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [2]:
sub.addr

'jonesy@example.com'

In [3]:
sub.joined

'2012-10-19'

In [4]:
len(sub)

2

In [6]:
addr, joined = sub
addr

'jonesy@example.com'

In [7]:
joined

'2012-10-19'

In [8]:
def compute_cost(records):
    total = 0
    for rec in records:
        total += rec[1] * rec[2]
    return total

In [13]:
from collections import namedtuple

Stock = namedtuple('Stock',['name','shares','prices'])

def compute_cost(records):
    total = 0
    for rec in records:
        s = Stock(*rec)
        total += s.shares * s.price
    return total

In [14]:
s = Stock('ACME', 100,123.45)
s

Stock(name='ACME', shares=100, prices=123.45)

In [15]:
s.shares = 75

AttributeError: can't set attribute

In [17]:
s = s._replace(shares=75)
s

Stock(name='ACME', shares=75, prices=123.45)

In [19]:
from collections import namedtuple

Stock = namedtuple('Stock',['name','shares','price','date','time'])

stock_prototype = Stock('',0,0.0,None,None)

print stock_prototype

Stock(name='', shares=0, price=0.0, date=None, time=None)

In [26]:
#Python 3
def dict_to_stock(s):
    return stock_prototype._replace(**s)

In [ ]:
dict_to_stock(s)